html, body {
  height: 100%;
  background-color: rgb(236, 77, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

input {
  width: 60vw;
  border: 1px solid #ddd;
  height: 5vw;
  padding: 0 2vw;
  font-size: 1.5vw;
}

button {
  width: 60vw;
  font-size: 1.5vw;
  background: rgb(54, 54, 54);
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  color: #FFF;
  margin-top: 1vw;
  border: none;
  letter-spacing: 2px;
}

.messages {
  width: 60vw;
  height: 40vw;
  margin: 2vw 0;
  border: 1px solid #ddd;
  padding: 2vw;
}

.messages {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 55%;
  width: 80%;
  border-radius: 5px;
  background-color: #fff;
  overflow-y: auto;
  font-size: 1.1rem;  
}

.send {
  position: absolute;
  top: 90%;
  height: 40px;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  width: 80%;
  
}

.user-name, .user-message {
  position: absolute;
  top: 72%;
  font-size: 1.1rem;
  height: 40px;
  width: 80%;
  border-radius: 5px;
  overflow-y: auto;
}

.user-message {
  height: 90px;
}

.user-name {
  top: 63%;
}

#chat {
  border: 1px solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
  width: 90vw;
  background-color: rgb(248, 244, 244);
  border-radius: 15px;
  box-shadow: 0px 0px 25px 1px rgba(80, 80, 80, 0.733);
}

