@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200&display=swap');

html, body {
  height: 100%;
  background-color: rgb(236, 77, 77);
  overflow: hidden;
  font-family: 'Titillium Web', sans-serif;
  letter-spacing: 1px;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: transparent; /* or add it to the track */
}

/* Add a thumb */
*::-webkit-scrollbar-thumb {
    background: rgb(226, 99, 99);
    border-radius: 20px;
    width: 10px;
}


#chat {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 650px;
  width: 90vw;
  max-width: 900px;
  background-color: rgb(78, 78, 78);
  border-radius: 15px;
  box-shadow: 0px 0px 30px 2px rgba(80, 80, 80, 0.548);
  padding-bottom: 20px;
  overflow: hidden;
}

.toggle-options, .toggle-options-close {
  position: absolute;
  top: 10%;
  left: 85%;
  transform: translate(0%,-50%);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: none;
  color: rgba(255, 255, 255, 0.678);
  background-color: rgba(27, 27, 27, 0.808);
  font-size: 1.2rem;
  z-index: 99999999;
}

.toggle-options i, .toggle-options-close i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.toggle-options-close {
  color: rgba(115, 212, 91, 0.924);
  background-color: rgba(61, 61, 61, 0.911);
}

.options {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
  height: 150px;
  width: 300px;
  background-color: rgb(75, 75, 75);
  border-radius: 15px;
}

.messages {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%,0%);
  height: 85%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.788);
  overflow-y: auto;
  font-size: 1.1rem;  
  padding-left: 30px;
  padding-right: 30px;
}

.user-name, .user-message,.user-color {
  position: absolute;
  /* top: 72%; */
  font-size: 1.1rem;
  height: 40px;
  width: 95%;  
  overflow-y: auto;
  left: 50%;
  transform: translate(-50%,-50%);
}

.user-name {
  top: 35px;
}

.user-color {
  top: 90px;
}

input, textarea, select {
  padding-left: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  color: rgb(158, 158, 158);
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-bottom: 1px dotted white;
  outline: none;
  resize: none;
}

select option {
  padding: 5px;
  text-transform: uppercase;
}




.message-row {
  height: 15%;
  position: absolute;
  width: 100%;
  top: 85%;
  background-color: rgba(47, 47, 47, 0.548);
}

.user-message {
  top: 50%;
  width: 75%;
  height: auto;
  left: 2.5%;
  transform: translate(0%,-50%);
  
}

.send {
  border: none;
  font-size: 1.5vw;
  background: rgba(255, 255, 255, 0.788);
  color: rgba(0, 0, 0, 0.753);
  position: absolute;
  top: 50%;
  /* left: 80%; */
  margin-left: 95%;
  transform: translate(-100%,-50%);
  height: 40px;
  font-size: 1.3rem;
  text-transform: uppercase;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  
}

.send i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.message {
  margin: 20px;
  display: block;
  width: fit-content;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0px 0px 5px 2px rgba(73, 73, 73, 0.609);

}



.user-send-message {
  text-align: left;
  background-color: rgb(56, 55, 55);
  margin-left: 95%;
  transform: translateX(-100%);
}

.date-message {
  font-size: .80rem;
  color: rgb(141, 141, 141);
}

.message .date-message{
  text-align: left;
}


.user-send-message .date-message{
  text-align: right;
}




.autor-message {
  color: rgba(201, 197, 197, 0.904);
  margin-top: 5px;
}



.hide {
  display: none;
}



