html, body {
  height: 100%;
  background-color: rgb(236, 77, 77);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
}

input {
  width: 60vw;
  border: 1px solid #ddd;
  height: 5vw;
  padding: 0 2vw;
  font-size: 1.5vw;
}

button {
  width: 60vw;
  font-size: 1.5vw;
  background: rgb(226, 99, 99);
  text-align: center;
  line-height: 5vw;
  font-weight: bold;
  color: #FFF;
  margin-top: 1vw;
  border: none;
  letter-spacing: 2px;
}

.messages {
  width: 60vw;
  height: 40vw;
  margin: 2vw 0;
  border: 1px solid #ddd;
  padding: 2vw;
}

.messages {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 45%;
  width: 90%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.835);
  overflow-y: auto;
  font-size: 1.1rem;  
}

.send {
  position: absolute;
  top: 90%;
  height: 40px;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 5px;
  width: 90%;
  
}

.user-name, .user-message,.user-color {
  position: absolute;
  top: 72%;
  font-size: 1.1rem;
  height: 40px;
  width: 90%;  
  overflow-y: auto;
}

.user-message {
  height: 90px;
}

.user-color {
  top: 63%;
}

.user-name {
  top: 54%;
}

input {
  padding-left: 0px;
  padding-bottom: 0px;
  background-color: transparent;
  color: white;
  border-left: transparent;
  border-right: transparent;
  border-top: transparent;
  border-bottom: 1px dotted white;
}

#chat {  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 600px;
  width: 90vw;
  background-color: rgb(78, 78, 78);
  border-radius: 5px;
  box-shadow: 0px 0px 30px 2px rgba(80, 80, 80, 0.548);
}


